local wezterm = require 'wezterm';

return {
  color_scheme = "BlueBerryPie",
  color_schemes = {
    BlueBerryPie = {
      foreground = "#c0caf5",
      background = "#1e2330",  -- Adjusted to a more blueish tone
      cursor_bg = "#c0caf5",
      cursor_border = "#c0caf5",
      cursor_fg = "#1a1b26",
      selection_bg = "#33467C",
      selection_fg = "#ffffff",

      -- Normal colors
      ansi = {"#3b4261", "#f7768e", "#9ece6a", "#e0af68", "#7aa2f7", "#bb9af7", "#7dcfff", "#a9b1d6"},
      brights = {"#545c7e", "#f7768e", "#9ece6a", "#e0af68", "#7aa2f7", "#bb9af7", "#7dcfff", "#c0caf5"},
    },
  },
  font = wezterm.font("Fira Code"),
  font_size = 12.0,
  window_background_opacity = 0.95,
  window_padding = {
    left = 5,
    right = 5,
    top = 5,
    bottom = 5,
  },
  use_fancy_tab_bar = false,
  hide_tab_bar_if_only_one_tab = true,
  enable_tab_bar = false,
}

