local wezterm = require 'wezterm';

return {

  warn_about_missing_glyphs = false,
  color_scheme = "CyberpunkRedBlue",
  color_schemes = {
    CyberpunkRedBlue = {
      foreground = "#e0e0e0",  -- Neutral text color for good contrast
      background = "#1a1c23",  -- Dark background, close to black
      cursor_bg = "#FF073A",   -- Neon red for cursor, to match the sign
      cursor_border = "#FF073A",
      cursor_fg = "#ffffff",
      selection_bg = "#FF073A",
      selection_fg = "#ffffff",

      -- ANSI Colors
      ansi = {"#1a1c23", "#e0e0e0", "#0b9c8c", "#e0e0e0", "#FF073A", "#FF073A", "#3a96dd", "#e0e0e0"},
      brights = {"#686868", "#ff5c7e", "#5af78e", "#f3f99d", "#57c7ff", "#ff6ac1", "#9aedfe", "#eff0eb"},
    },
  },
  font = wezterm.font("Fira Code"),
  font_size = 12.0,
  window_background_opacity = 0.8,
  window_padding = {
    left = 5,
    right = 5,
    top = 5,
    bottom = 5,
  },
  use_fancy_tab_bar = false,
  hide_tab_bar_if_only_one_tab = true,
  enable_tab_bar = false,
}

